@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
*{
    margin: 0px;
    padding: opx;
}
body{
    font-family: 'heebo', sans-serif;
    color: #21243D;
}
header{
    padding: 27px 0px;
}
.navbar{
    display: flex;
    justify-content: end;
    gap: 30px;
    list-style: none;
}
.navbar a{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}
.navbar a:hover{
    color: #FF6464;
}
.container{
    width: 856px;
    margin: 0 auto;
}
.main-section{
    display: flex;
    justify-content: space-between;
    gap: 106px;
    margin-top: 158px;
}
.john{
     font-size: 44px;
    font-weight: 700;
    color: #21243D;
}
.para{
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
}
.download{
    color: #FFFFFF;
    background: #FF6464;
    padding: 17px 21px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 38px;
    border-radius: 2px;
    border: 1px solid #FF6464;
    cursor: pointer;
}
.download:hover{
    background-color: #e04e4e;
}
.bg-blue{
    background-color: #EDF7FA;
}
.bluebox{
    margin-top: 71px;
   padding: 32px 0;
}
.heading{
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.post{
    font-size: 22px;
    font-weight: 400;
    color: #21243D;

}
.view{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #00A8CC;
     border: 1px solid #EDF7FA;
     background-color: transparent;
}
.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-radius: 4px;

}
.right-box{
    padding: 24px;
    padding-right: 21px;
    padding-left: 23px;
    background-color: #FFFFFF;
}
.design{
    font-size: 26px;
    font-weight: 700;
    padding-bottom:  17px;
}
.para-box{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 11px;
}
.paragraph-box{
    font-size: 16px;
    font-weight: 400px;
    padding-bottom: 7px;
}
.left-box{
     padding: 24px;
       padding-right: 21px;
    padding-left: 23px;
    background-color: #FFFFFF;
}
    .container-division{
        width: 900px;
    margin: 0 auto;
    }
.small{
    margin-top: 15px;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
}
.division-one{
    display: flex;
    padding-bottom: 15px;
    gap: 18px;
    border-bottom: 1px solid #E0E0E0;
}
.work-image{
    border-radius: 6px;
    margin-top: 22px;
}
.dash{
    margin-top: 11px;
}
.board{
    font-size: 30px;
    font-weight: 700;
}
.spans{
    gap: 26px;
    margin-top: 16px;
}
.year-badge{
    background-color: #142850;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 900;
    border: 1px solid #142850;
    border-radius: 16px;
    padding: 0 10px;
}
.ctg{
    margin-left: 26px;
    font-size:20px;
    font-weight:400;
    color: #8695A4;
}
.divi-para{
    margin-top: 19px;
    font-size: 16px;
    font-weight: 400;
}
.division-two{
    display: flex;
    padding-bottom: 15px;
    gap: 18px;
    border-bottom: 1px solid #E0E0E0;
}
.work-image2{
    margin-top: 31px;
    border-radius: 6px;
}
.dash2{
    margin-top: 29px;
}
.main-icons{
    margin-top: 83px;
    display: flex;
    justify-content: center;
    gap: 35px;
    
}
.icons{
    margin-top: 51px;
}
.copy{
    margin-top: 26px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
    font-size: 14px;
    font-weight:400 ;
}