 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: heebo , sans-serif;
    background-color:#ffffff;
    color: #21243D;
}
.container{
    display: flex;
    justify-content: flex-end;
    padding: 24px 60px;
}
nav{
    display: flex;
    justify-content: flex-end;

}
body{
    margin: 0;
 }

    /* Footer Section Start */
footer{
    width: 1152px;
    height: 182px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .icon-main{
    width: 232px;
    height: 32px;
    align-items: center;
}
footer .icons{
    width: 30px;
    height: 30px;
    padding-left: 35px;
    margin-top: 132px;
}
.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}
    /* Footer Section END *
    /* Footer Section Start */
footer{
    width: 1152px;
    height: 182px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .icon-main{
    width: 232px;
    height: 32px;
    align-items: center;
}
footer .icons{
    width: 30px;
    height: 30px;
    padding-left: 35px;
    margin-top: 132px;
}
.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}
    /* Footer Section END *